@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    background: white;
 }
  .box-shadow {
    -moz-box-shadow: 3px 7px 94px -2px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 3px 7px 94px -2px rgba(255, 251, 0, 0.274);
    box-shadow: 3px 7px 94px -2px rgba(255, 251, 0, 0.397);
  }
}
